@model MissyMenuWeb.ViewModels.DirectionViewModel

 <div class="row">
    <div class="col">    
    <label asp-for="Step" class="control-label"></label>
    <input asp-for="Step" class="form-control" />
    <span asp-validation-for="Step" class="text-danger"></span>
  </div>
</div>

