@model MissyMenu.Service.Ingredient



<h4>Ingredient</h4>
<hr />


<div class="row">
                
                <label asp-for="IngredientName" class="control-label"></label>
                <input asp-for="IngredientName" class="form-control" />
                <span asp-validation-for="IngredientName" class="text-danger"></span>
              </div>
<div class="row">
              <div class="col-md-4 mb-3">
                <label asp-for="Measurement" class="control-label"></label>
                <input asp-for="Measurement" class="form-control" />
                <span asp-validation-for="Measurement" class="text-danger"></span>
              </div>
              <div class="col-md-4 mb-3">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="IngredientName" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
              </div>
              <div class="col-md-4 mb-3">
                <label asp-for="Link" class="control-label"></label>
                <input asp-for="Link" class="form-control" />
                <span asp-validation-for="Link" class="text-danger"></span>
              </div>
            </div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
